/* general styles start */
@font-face {
  src: url(../fonts/Padauk.ttf);
  font-family: 'padauk unicode';
}

body {
  font-family: 'padauk unicode';
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 120px;
  padding-bottom: 500px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* general styles end */

.section {
  padding: 20px 20px 50px 20px;
  box-shadow: 0px 0px 5px gray;
  border-radius: 5px;
  background-color: rgb(237, 245, 247);
  margin-bottom: 10px;
  line-height: 25px;
}

.article-title {
  font-size: 18px;
  color: rgb(85, 85, 85);
  font-weight: bold;
}

.list {
  color: rgb(70, 69, 69);
  line-height: 25px;
}

article {
  margin-bottom: 10px;
  color: rgb(70, 69, 69);
}